<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	 version="2.4">

	<display-name>maven_srtp_v1</display-name>

	 <!--  
	      There are three means to configure Wickets configuration mode and they are
	      tested in the order given. 
	      1) A system property: -Dwicket.configuration
	      2) servlet specific <init-param>
	      3) context specific <context-param>
	      The value might be either "development" (reloading when templates change)
	      or "deployment". If no configuration is found, "development" is the default.
	-->
	<welcome-file-list>
		<welcome-file>jsp/homepage.jsp</welcome-file>
	</welcome-file-list>

	<!-- CNY->GBP rate monitor: starts the 6-hour scheduler on deploy -->
	<listener>
		<listener-class>monitor.RateMonitorListener</listener-class>
	</listener>

	<!-- Rate dashboard servlet -->
	<servlet>
		<servlet-name>ExchangeRateServlet</servlet-name>
		<servlet-class>servlet.ExchangeRateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ExchangeRateServlet</servlet-name>
		<url-pattern>/exchange_rate</url-pattern>
	</servlet-mapping>

</web-app>
